<div id="<%= dom_id invoice %>">
  <p>
    <strong>Series:</strong>
    <%= invoice.series %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= invoice.number %>
  </p>

  <p>
    <strong>Issuer nit:</strong>
    <%= invoice.issuer_nit %>
  </p>

  <p>
    <strong>Issuer name:</strong>
    <%= invoice.issuer_name %>
  </p>

  <p>
    <strong>Receiver nit:</strong>
    <%= invoice.receiver_nit %>
  </p>

  <p>
    <strong>Receiver name:</strong>
    <%= invoice.receiver_name %>
  </p>

  <p>
    <strong>Issue date:</strong>
    <%= invoice.issue_date %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= invoice.subtotal %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= invoice.total %>
  </p>

  <p>
    <strong>Vat:</strong>
    <%= invoice.vat %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invoice.status %>
  </p>

</div>
